.tab-content {
    width: 30rem;
}



@media screen and (max-width:1000px) {
    .tab-content {
        width: 20rem;
    }
}

@media screen and (max-width:786px) {
    .tab-content {
        width: 100%;
    }
}