* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
}



.tab-content {
    width: 30rem;
}



@media screen and (max-width:1000px) {
    .tab-content {
        width: 20rem;
    }
}

@media screen and (max-width:786px) {
    .tab-content {
        width: 100%;
    }
}


/* Footer */
footer {
    padding-top: 1rem;
    background-color: black;

}